<!DOCTYPE>
<HTML xmlns:th="http://www.thymeleaf.org">
<HEAD th:replace="thyme/Header :: head(~{::title})">
<meta charset="UTF-8">
<TITLE>마이페이지</TITLE>
<style>
table {
	border: 1px solid #444444;
	border-collapse: collapse;
}

th, td {
	border: 1px solid #444444;
	padding: 30px;
}
</style>
</HEAD>
<body>
<div class="wrap">
	<div th:replace="thyme/Header :: header"></div>

	<div class="row row-margin">
		<div th:replace="thyme/Sidebar :: sidebar"></div>
		<div class="col-7 base">
			<!-- 여기서부터 content -->
				반갑습니다 <span th:text=${userSession.alias}>사용자</span>님<br> 적립금 : <span
					th:text=${userSession.mileage}>0</span>원<br>
				<br>
				<table style="table-layout: fixed; width: 139px">
					<colgroup>
						<col style="width: 200px">
						<col style="width: 200px">
						<col style="width: 200px">
						<col style="width: 200px">
					</colgroup>
					<thead>
						<tr>
							<th onclick="location.href='/user/myPage/buy.do'"
								; style="cursor: pointer;">구매내역조회</th>
							<th onclick="location.href='/user/myPage/sell.do'"
								; style="cursor: pointer;">판매내역조회</th>
							<th onclick="location.href='/user/editAccount.do'"
								; style="cursor: pointer;">회원정보수정</th>
							<th onclick="location.href='/order/viewCart.do'"
								; style="cursor: pointer;">장바구니</th>
						</tr>
					</thead>
				</table>
				<p align="left">
					<a href="/user/deleteAccount.do">탈퇴하기</a>
				</p>
			</div>
		</div>
	</div>
</BODY>
</HTML>