<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title})">
    <title>Home</title>
</head>
<body>
<div th:replace="thyme/Header :: header"></div>
    <div class="row row-margin">
    	<div th:replace="thyme/Sidebar :: sidebar"></div>
        <div class="col-7 base">
        <!-- 여기서부터 content -->
  
            <!-- event banner -->
            <div id="carouselExampleCaptions" class="banner carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                        aria-label="Slide 0"></button>
                    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                        aria-label="Slide 2"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/image/tmp.jpg" class="d-block w-100 event" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>default banner</h5>
                            <p>default banner</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                    	<a th:href="@{/timesale/viewtimeSale.do}">
                        <img src="/image/tmp.jpg" class="d-block w-100 event" alt="...">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>Time sale</h5>
                            <p>time sale event banner</p>
                        </div>
                        </a>
                    </div>
	                <div class="carousel-item">
	                    <a th:href="@{/battlesale/viewBattleSale.do}">
	                        <img src="/image/tmp.jpg" class="d-bloc w-100 event" alt="...">
	                        <div class="carousel-caption d-none d-md-block">
	                            <h5>Battle sale</h5>
	                            <p>battle sale event banner</p>
	                        </div>
	                     </a>
	                </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

            <!-- Best 상품-->
            <h3 class="text-primary pt-5 container fw-bolder">Best</h3>
                <div class="album bg-light">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                            <div th:each="item: ${bestOnlineList}" class="col">
	                            <div class="card shadow-sm">
									<div class="card-body ">
										<div>
										<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
											<img class = "img-fluid img-thumbnail" th:src="@{${item.thumbnail1}}" style="width: 150px; height: 150px;"/>
										</a>
											<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
		                                        <span class="itemName" th:text="${item.name}" >
		                                            name
		                                        </span>
	                                        </a>
	                                    </div>
	                                    <div>
	                                    	<small class="text-muted" th:text="${item.categoryName}">
	                                    		categoryName
	                                    	</small>
                                        </div>
	                                    <div>
	                                    	<small class="text-muted">#</small><small class="text-muted" th:text="${item.themeName}">
	                                    		themeName
	                                    	</small>
                                        </div>

                                       <span th:text="${item.price}" >price</span>원
									</div>
									<div class= "mx-1" style="text-align:right" >
										<small class ="text-primary" th:if="${item.pcFile}"> PC </small>
										<small class ="text-warning" th:if="${item.tabletFile}"> TABLET </small>
										<small class ="text-info" th:if="${item.phoneFile}"> PHONE </small>
									</div>
									<div class="mx-2 text-danger" style="text-align:right">
										<small th:text="${item.likeNum}">12</small>
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
										  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
										</svg>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                
            <!-- 신상품 -->
            <h3 class="text-success pt-5 container fw-bolder">New</h3>
                <div class="album bg-light">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                            <div th:each="item: ${newOnlineList}" class="col">
                            <div class="card shadow-sm">
									<div class="card-body ">
										<div>
										<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
											<img class = "img-fluid img-thumbnail" th:src="@{${item.thumbnail1}}" style="width: 150px; height: 150px;"/>
										</a>
											<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
		                                        <span class="itemName" th:text="${item.name}" >
		                                            name
		                                        </span>
	                                        </a>
	                                    </div>
	                                    <div>
	                                    	<small class="text-muted" th:text="${item.categoryName}">
	                                    		categoryName
	                                    	</small>
                                        </div>
	                                    <div>
	                                    	<small class="text-muted">#</small><small class="text-muted" th:text="${item.themeName}">
	                                    		themeName
	                                    	</small>
                                        </div>

                                       <span th:text="${item.price}" >price</span>원
									</div>
									<div class= "mx-1" style="text-align:right" >
										<small class ="text-primary" th:if="${item.pcFile}"> PC </small>
										<small class ="text-warning" th:if="${item.tabletFile}"> TABLET </small>
										<small class ="text-info" th:if="${item.phoneFile}"> PHONE </small>
									</div>
									<div class="mx-2 text-danger" style="text-align:right">
										<small th:text="${item.likeNum}">12</small>
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
										  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
										</svg>
									</div>
								</div>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <!-- 펀딩 -->
            <h3 class="text-danger pt-5 container fw-bolder">Funding</h3>
                <div class="album bg-light">
                    <div class="container">
                        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
                            <div th:each="item: ${newFundingList}" class="col">
                                <div class="card shadow-sm">
									<div class="card-body ">
										<div>
										<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewFundingItem.do(itemId=${item.itemId})}">
											<img class = "img-fluid img-thumbnail" th:src="@{${item.thumbnail1}}" style="width: 150px; height: 150px;"/>
										</a>
											<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
		                                        <span class="itemName" th:text="${item.name}" >
		                                            name
		                                        </span>
	                                        </a>
	                                    </div>
	                                    <div>
	                                    	<small class="text-muted">#</small><small class="text-muted" th:text="${item.themeName}">
	                                    		themeName
	                                    	</small>
                                        </div>

                                       <span th:text="${item.price}" >price</span>원
									</div>
									
									<div class="progress mx-2">
									  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
									</div>
									<div class="d-flex justify-content-between align-items-center">
										<span class= "mx-2" style="text-align:left" >
											<small class="text-info" th:text="${item.quantityPercentage}"> 목표 퍼센티지 </small><small class="text-info">% </small>
										</span>
										<span class= "mx-2" style="text-align:right" th:if="${item.remainingDays} != 0">
											<small style="text-align:left" class="text-muted text-sm" th:text="${item.remainingDays}"> remainingDays</small>
											<small class="text-muted text-sm">일 남음</small>
										</span>
										<span class= "mx-2" style="text-align:right" th:if="${item.remainingDays} == 0">
											<small class="text-muted text-sm">오늘 마감</small>
										</span>
									</div>
									<div class="mx-2 text-danger" style="text-align:right">
										<small th:text="${item.likeNum}">12</small>
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
										  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
										</svg>
									</div>
                                </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
        </div>
    </div>
    
    
    
   <div th:replace="thyme/Bottom :: footer"></div>
</body>
</html>