<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<!-- side bar-->
	<div th:fragment="managerSidebar"
        class="col-3 sidebar d-flex flex-column p-3 bg-light make-me-sticky" style="width: 250px;">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a th:href="@{/manager/myPage/onlineItem.do}" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                       Online Items
                    </a>
                </li>
                <li>
                    <a th:href="@{/manager/myPage/fundingItem.do}" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Funding Items
                    </a>
                </li>
            </ul>

	</div>
</body>
</html>