<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
    <title>Navbar</title>
    <link rel="stylesheet" href="/style/modal.css" type="text/css" />
</head>
<body>
<div th:fragment="navbar" align="center">
  <!--navbar-->
  <nav class="mainnav navbar navbar-expand-lg navbar-light sticky-top bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">logo</a>

      <!--검색 창-->
      <div class="row">
        <div class="col-8">
          <form class="d-flex">
            <input class="form-control me-2" size="50" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>

        <div class="col-4">
        <div th:unless=${userSession}>
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalForm">
            login
          </button>        
         </div>  
         
         <div class="row" th:if = ${userSession}>
         <div class="col"><a th:href="@{/user/myPage.do}"><span th:text=${userSession.name}></span>님</a></div>
         <div class="col">
	         <form action="#" th:action="@{/user/signoff.do}">
	          <button type="submit" class="btn btn-primary">
	            logout
	          </button>   
	          </form>
          </div>              
         </div>  
         
        </div>
      </div>
    </div>
  </nav>
  
  <!-- Modal HTML -->
  <!-- Modal -->
	<div align="left" th:fragment="modal" class="modal fade" id="modalForm" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog">
	        <div class="modal-content">
	            <div class="modal-header">
	                <h5 class="modal-title" id="exampleModalLabel">자꾸다꾸 로그인</h5>
	                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	            </div>
	            <div class="modal-body">
	                <form action="#" th:action="@{/user/signon.do}" th:method = "Post">
	                    <div class="mb-3">
	                        <label class="form-label">ID</label>
	                        <input type="text" class="form-control" id="userId" name="userId" placeholder="Id를 입력하세요" />
	                    </div>
	                    <div class="mb-3">
	                        <label class="form-label">Password</label>
	                        <input type="password" class="form-control" id="password" name="password" placeholder="패쓰워드를 입력하세요" />
	                    </div>
	                    <div class="mb-3 form-check">
	                        <input  type="checkbox" class="form-check-input" id="rememberMe" />
	                        <label class="form-check-label" for="rememberMe">Remember me</label>
	                    </div>
	                    <div class="modal-footer d-block">
	                        <p class="float-start">Not yet account <a th:href="@{/user/newAccount.do}">Sign Up</a></p>
	                        <button type="submit" class="btn btn-warning float-end">로그인</button>
	                    </div>
	                </form>
	            </div>
	        </div>
	    </div>
	</div>
</div>
</body>
