@charset "UTF-8";
html{
	width: 100%;
	height: 100%;
}
body{
    width: 100%;
    height: 100%;
}

.wrap{
    width: 100%;
    min-height: 100%;
}

.row-margin{
    margin-right: 12%
}
.mainnav{
    padding-right: 10%;
    padding-left: 10%;
}

.sidebar{
    margin-top: 5%;
    margin-left: 10%;
    background-color: #868e96;
    display:inline-block;
    margin-right: 0;
}

.base{
    margin: auto 0;
    margin-top: 8%;
    margin-left: 5%;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.event{
    height: 15rem;
    margin-left: 3%;
}

.login{
    padding: 10%;
}

.like{
    font-size: 0.3rem;
}

.basket{
    font-size: 0.3rem;
}

.pc-introduce{
    height: 10rem;
    font-size: 0.3rem;
}

.event-title{
    font-size: 4rem;
    margin: 0 auto;
}
.event-des{
}
.evnet-page{
	background: linear-gradient(to bottom, #ffffff , #e9ecef);
	border-radius: 60px;
}
.timeSale-image-banner{
	width: 300px;
}
.timeSale-image-banner{
	margin: 0 auto;
}

.sidebar-section {
  position: absolute;
  height: 100%;
  width: 100%;
}


.sidebar-item {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	
	/* Position the items */
	// &:nth-child(2) { top: 25%; }
	// &:nth-child(3) { top: 50%; }
	// &:nth-child(4) { top: 75%; }
}


.make-me-sticky {
  position: -webkit-sticky;
	position: sticky;
	top: 0;
    
  padding: 0 15px;
}


.link-unstyled {
  text-decoration: none;
}