<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title}, ~{::link}, ~{::style}, ~{::script})">
    <title>BattleSale</title>
    <link>
    <style></style>
    <script></script>
</head>
<body>
<div class="wrap">
<div th:replace="thyme/Header :: header"></div>
    <div class="row row-margin">
    	<div th:replace="thyme/Sidebar :: sidebar"></div>
        <div class="col-7 base">
        <!-- 여기서부터 content -->
        <div align="center">
			<div th:unless="${item1}" class="container">
					<p class="event-title">No Sale</p>
					<p class="event-des">진행 중인 배틀 세일이 없습니다</p>
					<p>매주 토요일 배틀 세일 투표가 진행됩니다</p>
					<p>매주 일요일 배틀세일의 승자가 공개 됩니다</p>
				</div>
			
			<div th:if="${item1}" class="container evnet-page pb-5">
				<p class="event-title"> Battle Sale </p>
				<p class="event-des"> 배틀 세일은 랜덤 카테고리 안의 2가지 아이템이 대결을 하는 방식으로 세일이 진행됩니다. 
				<br/> 매주 토요일에 베틀 아이템 투표를 하며, 일요일에는 투표 결과에 기반해 승자를 뽑고 10%할인을 진행합니다</p>
				<div class="row">
					<div class="col battle-image-banner">
						<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img th:src="@{${item1.thumbnail1Path}}" style="width: 280px; height: 400px;" class="d-block w-100" alt="썸네일1">
						    </div>
						    <div th:if="${item1.thumbnail2}" class="carousel-item">
						      <img th:src="@{${item1.thumbnail1Path}}" style="width: 280px; height: 400px;" class="d-block w-100" alt="썸네일1">
						    </div>
						    <div th:if="${item1.thumbnail3}" class="carousel-item">
						      <img th:src="@{${item1.thumbnail1Path}}" style="width: 280px; height: 400px;" class="d-block w-100" alt="썸네일1">
						    </div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Next</span>
						  </button>
						</div>
					</div>
					<div class="col-md-auto">
						<p>VS</p>
					</div>
					<div class="col battle-image-banner">
						<div id="carouselExampleFade2" class="carousel slide carousel-fade" data-bs-ride="carousel">
						  <div class="carousel-inner">
						    <div class="carousel-item active">
						      <img th:src="@{${item2.thumbnail1Path}}" class="d-block w-100" style="width: 280px; height: 400px;" alt="썸네일1">
						    </div>
						    <div th:if="${item2.thumbnail2}" class="carousel-item">
						      <img th:src="@{${item2.thumbnail2Path}}" class="d-block w-100" style="width: 280px; height: 400px;" alt="썸네일2">
						    </div>
						    <div th:if="${item2.thumbnail3}" class="carousel-item">
						      <img th:src="@{${item2.thumbnail3Path}}" class="d-block w-100" style="width: 280px; height: 400px;" alt="썸네일3">
						    </div>
						  </div>
						  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
						    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Previous</span>
						  </button>
						  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
						    <span class="carousel-control-next-icon" aria-hidden="true"></span>
						    <span class="visually-hidden">Next</span>
						  </button>
						</div>
					</div>
				</div>
				
				<div class="container">
				  <div class="row">
				    <div class="col align-self-start">
				      <h2 th:text="${item1.name}"> name1 </h2>
				      <span class="small mb-1" th:text="${item1.categoryName}" >ItemCategory</span> / 
                      <span class="small mb-1" th:text="${item1.themeName}" >themeName</span>
                      <p class="small" th:text="'제작자_' + ${item1.producerName}">producerName</p>
				      <p th:text="${item1.description}"> description </p>
				      <p th:text="${item1.price} + '원'"> price </p>
				      <div> 득표 수  <span th:text="${battleSale.votes1}"> vote1 </span></div>
				      <form action="#" th:action="@{/battlesale/vote1.do}">
							<input type="hidden" id="battleSaleId" name="battleSaleId" th:value="${battleSale.battleSaleId}"/>
							<input th:if = ${userSession} type="hidden" id="userId" name="userId" th:value="${userSession.userId}"/>
				      		<button th:if = ${userSession} type="submit" class="like btn  btn-outline-danger"> vote </button>
			          </form>
				    </div>
				    <div class="col align-self-end">
				      <h2 th:text="${item2.name}"> name1 </h2>
				      <span class="small mb-1" th:text="${item2.categoryName}" >ItemCategory</span> / 
                      <span class="small mb-1" th:text="${item2.themeName}" >themeName</span>
                      <p class="small" th:text="'제작자_' + ${item2.producerName}">producerName</p>
				      <p th:text="${item2.description}"> description </p>
				      <p th:text="${item2.price} + '원'"> price </p>
		  		      <div> 득표 수 <span th:text="${battleSale.votes2}"> votes2 </span></div>
				      <form action="#" th:action="@{/battlesale/vote2.do}">
							<input type="hidden" id="battleSaleId" name="battleSaleId" th:value="${battleSale.battleSaleId}"/>
							<input th:if = ${userSession} type="hidden" id="userId" name="userId" th:value="${userSession.userId}"/>
				      		<button th:if = ${userSession} type="submit" class="like btn  btn-outline-danger"> vote </button>
			          </form>
				    </div>
				  </div>
				  
				  <!-- 이미 투표했을 경우 경고창 띄움 -->
					<div th:if = ${alreadyVote} class="alert alert-warning alert-dismissible fade show" role="alert">
					  <strong> 이미 투표하였습니다.</strong>
					  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div>
					
					
				</div>
			</div>
			
		
		
		
		</div>
        </div>
    </div>
   </div>
   <div th:replace="thyme/Bottom :: footer"></div>
  
</body>
</html>