<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title})">
    <title>battleWinner</title>
</head>
<body>
<div th:replace="thyme/Header :: header"></div>

<div class="pt-5 salecover" align="center">
<div th:unless="${item}" class="container evnet-page">
		<p class="event-des"> no Battle Winner </p>
	</div>
	
	<div th:if="${item}"  class="container evnet-page">
		<p class="event-title"> Battle Winner </p>
		<div class="timeSale-image-banner">
			<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
			  <div class="carousel-inner">
			    <div class="carousel-item active">
			      <img src="/image/tmp.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/image/tmp2.jpg" class="d-block w-100" alt="...">
			    </div>
			    <div class="carousel-item">
			      <img src="/image/tmp.jpg" class="d-block w-100" alt="...">
			    </div>
			  </div>
			  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
			    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Previous</span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
			    <span class="carousel-control-next-icon" aria-hidden="true"></span>
			    <span class="visually-hidden">Next</span>
			  </button>
			</div>
		</div>

		<div align="center">
			<table>
				<tr>
					<td> <h2 th:text="${item.name}"> name1 </h2> </td>
					<td class="text-muted" th:text="${item1.categoryId}"> ItemCategory </td>
				</tr>
				<tr>
					<td th:text="${item.description}"> description </td>
				</tr>
				<tr>
					<td th:text="${item.price}"> price </td>
					<td align="right" th:text="${battleSale.discountRate}"> discountRate </td><td>% 할인</td>
				</tr>

			</table>
		</div>
	</div>
</div>