<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title})">
    <title>BattleSale</title>
</head>
<body>
<div th:replace="thyme/Header :: header"></div>

<div class="pt-5 salecover" align="center">
	<div th:unless="${item1}" class="container evnet-page">
		<p class="event-des"> no sale </p>
	</div>
	
	<div th:if="${item1}" class="container evnet-page">
		<p class="event-title"> Battle Sale </p>
		<p class="event-des"> battle sale description</p>
		<div class="row">
			<div class="col battle-image-banner">
				<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img src="/image/tmp.jpg" class="d-block w-100" alt="...">
				    </div>
				    <div class="carousel-item">
				      <img src="/image/tmp2.jpg" class="d-block w-100" alt="...">
				    </div>
				    <div class="carousel-item">
				      <img src="/image/tmp.jpg" class="d-block w-100" alt="...">
				    </div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				  </button>
				</div>
			</div>
			<div class="col-md-auto">
				<p>VS</p>
			</div>
			<div class="col battle-image-banner">
				<div id="carouselExampleFade2" class="carousel slide carousel-fade" data-bs-ride="carousel">
				  <div class="carousel-inner">
				    <div class="carousel-item active">
				      <img src="/image/tmp.jpg" class="d-block w-100" alt="...">
				    </div>
				    <div class="carousel-item">
				      <img src="/image/tmp2.jpg" class="d-block w-100" alt="...">
				    </div>
				    <div class="carousel-item">
				      <img src="/image/tmp.jpg" class="d-block w-100" alt="...">
				    </div>
				  </div>
				  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="prev">
				    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Previous</span>
				  </button>
				  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade2" data-bs-slide="next">
				    <span class="carousel-control-next-icon" aria-hidden="true"></span>
				    <span class="visually-hidden">Next</span>
				  </button>
				</div>
			</div>
		</div>
		
		<div class="container">
		  <div class="row">
		    <div class="col align-self-start">
		      <h2 th:text="${item1.name}"> name1 </h2>
		      <p th:text="${item1.categoryId}"> category </p>
		      <p th:text="${item1.description}"> description </p>
		      <p th:text="${item1.price}"> price </p>
		      <div> 좋아요 <span th:text="${battleSale.votes1}"> vote1 </span></div>
		      <form action="#" th:action="@{/battlesale/vote1.do}">
					<input type="hidden" id="battleSaleId" name="battleSaleId" th:value="${battleSale.battleSaleId}"/>
					<input th:if = ${userSession} type="hidden" id="userId" name="userId" th:value="${userSession.userId}"/>
		      		<button th:if = ${userSession} type="submit" class="like btn  btn-outline-danger"> like </button>
	          </form>
		    </div>
		    <div class="col align-self-end">
		      <h2 th:text="${item2.name}"> name2 </h2>
		      <p th:text="${item2.categoryId}"> category </p>
		      <p th:text="${item2.description}"> description </p>
		      <p th:text="${item2.price}"> price </p>
  		      <div> 좋아요 <span th:text="${battleSale.votes2}"> votes2 </span></div>
		      <form action="#" th:action="@{/battlesale/vote2.do}">
					<input type="hidden" id="battleSaleId" name="battleSaleId" th:value="${battleSale.battleSaleId}"/>
					<input th:if = ${userSession} type="hidden" id="userId" name="userId" th:value="${userSession.userId}"/>
		      		<button th:if = ${userSession} type="submit" class="like btn  btn-outline-danger"> like </button>
	          </form>
		    </div>
		  </div>
		  
		  <!-- 이미 투표했을 경우 경고창 띄움 -->
			<div th:if = ${alreadyVote} class="alert alert-warning alert-dismissible fade show" role="alert">
			  <strong> 이미 투표하였습니다.</strong>
			  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			
			
		</div>
	</div>
	



</div>