<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title})">
<title>TimeSale</title>
</head>
<body>
	<div th:replace="thyme/Header :: header"></div>

	<div class="pt-5 salecover" align="center">
		<div th:unless="${item}" class="container evnet-page">
			<p class="event-des">no sale</p>
		</div>

		<div th:if="${item}" class="container evnet-page">
			<p class="event-title">Time Sale</p>
			
			<div class="row">
				<div class="col m-5  timeSale-image-banner">
					<div id="carouselExampleFade" class="carousel slide carousel-fade"
						data-bs-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img src="/image/tmp.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
								<img src="/image/tmp2.jpg" class="d-block w-100" alt="...">
							</div>
							<div class="carousel-item">
								<img src="/image/tmp.jpg" class="d-block w-100" alt="...">
							</div>
						</div>
						<button class="carousel-control-prev" type="button"
							data-bs-target="#carouselExampleFade" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button"
							data-bs-target="#carouselExampleFade" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>

				<div class="col mt-5" align="left">
					<div class="small mb-1" th:text="${item.categoryName}" >ItemCategory</div>
                        <h1 class="display-5 fw-bolder" th:text="${item.name}">name</h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through" th:text="${item.price}">price</span>
                            <span th:text="${salePrice}"> salePrice </span>
                        </div>
                        <p class="lead" th:text="${item.description}">description</p>
                        <small>남은 수량</small> <span th:text="${timeSale.quantity}">quantity</span><span>개!</span>
                         <button type="button" class="btn btn-success"> 구매하러가기</button>
                        
				</div>
			</div>
		</div>
	</div>
