<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title})">
    <title>Manager</title>
</head>
<body>
<div th:replace="thyme/Header :: header"></div>

<!-- side bar-->
    <div class="row row-margin">
        <div class="col-3 sidebar d-flex flex-column p-3 bg-light make-me-sticky" style="width: 250px;">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a th:href="@{/manager/myPage/onlineItem.do}" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                       Online Items
                    </a>
                </li>
                <li>
                    <a th:href="@{/manager/myPage/fundingItem.do}" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Funding Items
                    </a>
                </li>
            </ul>

        </div>
        
        <div class="col-7 base">
         <!-- 관리자 영역 -->
        <div>			
			<table class="table table-striped table-hover">
				<thead>
					<tr>
						<th></th>
						<th>Name</th>
						<th>Theme</th>
						<th>Description</th>
						<th>Price</th>
						<th>Goal</th>
						<th>Producer</th>
						<th>Approve</th>
						<th>Reject</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item:${items}">
						<td> 
							<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
								<img class = " img-fluid img-thumbnail" th:src="@{${item.thumbnail1}}" style="width: 50px; height: 50px;"/>
							</a>
						</td>
						<td th:text="${item.name}">name</td>
						<td th:text="${item.themeName}">theme</td>
						<td th:text="${item.description}">description</td>
						<td th:text="${item.price}">price</td>
						<td th:text="${item.targetQuantity}">goal</td>
						<td th:text="${item.producerName}">producer</td>
						<td> 
							<form action="#" th:action="@{/manager/funding/approveItem.do}">
							<input type="hidden" id="itemId" name="itemId" th:value="${item.itemId}"/>
		          			<button type="submit" class="btn btn-success">
				            	approve
				         	</button>   
				          	</form>
				        </td>
				        <td> 
							<form action="#" th:action="@{/manager/funding/refuseItem.do}">
							<input type="hidden" id="itemId" name="itemId" th:value="${item.itemId}"/>
		          			<button type="submit" class="btn btn-danger">
				            	reject
				         	</button>   
				          	</form>
				        </td>
					</tr>
				</tbody>
			</table>
		</div>
            
        </div>
    </div>
<div th:replace="thyme/Bottom :: footer"></div>