<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title})">
    <title>Manager</title>
</head>
<body>
<div th:replace="thyme/Header :: header"></div>

<!-- side bar-->
    <div class="row row-margin">
        <div class="col-3 sidebar d-flex flex-column p-3 bg-light make-me-sticky" style="width: 250px;">
            <a th:href="@{/}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
                <svg class="bi me-2" width="40" height="32">
                    <use xlink:href="#bootstrap"></use>
                </svg>
                <span class="fs-4">Sidebar</span>
            </a>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li>
                    <a th:href="@{/diary}" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#speedometer2"></use>
                        </svg>
                       Online Items
                    </a>
                </li>
                <li>
                    <a th:href="@{/font}" class="nav-link link-dark">
                        <svg class="bi me-2" width="16" height="16">
                            <use xlink:href="#table"></use>
                        </svg>
                        Funding Items
                    </a>
                </li>
            </ul>

        </div>
        
        <div class="col-7 base">
            <!-- 관리자 영역 -->
        <div>
		<p>승인 페이지</p>
		<div class="wrap">
		   <div class="search">
		      <input type="text" class="searchTerm" placeholder="What are you looking for?">
		      <button type="submit" class="searchButton">
		        <i class="fa fa-search"></i>
		     </button>
		   </div>
		</div>
		
		<!--  ì¹ì¸ ëê¸° ìí ëª©ë¡ -->
		<div align="center">
		  <table class="n23">
		    <tr bgcolor="#CCCCCC">
		      <td>&nbsp;</td>
		      <td><b>Product ID</b></td>
		      <td><b>Name</b></td>
		      <td><b>승인 여부</b></td>
		    </tr>
		    <tr th:each="items : ${items}">
		      <td bgcolor="#FFFF88">
		      	
		      </td>
	      </tr>
		  
		  </table>
		</div>
	</div>
            
        </div>
    </div>
