<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">  
	<title>온라인 상품 등록</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.css" integrity="sha512-YYS7fyqDxVE/yJ1280i8KjA+nC7wAtv2u/qkulKbdMpmp8DBWX0Wj+HtILsFyvq+fouCwCyr0hasPAz1eBlvwA==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.css" integrity="sha512-tHoIJz9M5ePPB6uuGC4AKP1U6KgjF1V2UK9jR/DKH2eEKVhIV0N6KpsAMOIMLZVvOWuby25zd339CQLcVRev2g==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.css" integrity="sha512-GqdyivmcmveCy9pRf2yTD/TPYXVmbPFDojvy15i3xuLLy9nkgNhDRMk6+Dt/uYDdnItFUFF7WqW7GoGv+gPX+A==" crossorigin="anonymous" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/button.min.css" integrity="sha512-OD0ScwZAE5PCg4nATXnm8pdWi0Uk0Pp2XFsFz1xbZ7xcXvapzjvcxxHPeTZKfMjvlwwl4sGOvgJghWF2GRZZDw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/checkbox.min.css" integrity="sha512-binQUn0abXktVdo5lUPzJyj9ZRouAxqFlchlD22+y2IAivfojjNLPuC6HCZiHT5bx+cM7ZzJstL+jHhwOUtcyg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link href="https://cdn.rawgit.com/mdehoog/Semantic-UI/6e6d051d47b598ebab05857545f242caf2b4b48c/dist/semantic.min.css" rel="stylesheet" type="text/css" />
	<script>
	
	//https://chung-develop.tistory.com/14
// 	var fileArr;
// 	var fileInfoArr=[];

// 	//썸네일 클릭시 삭제.
// 	function fileRemove(index) {
// 	    console.log("index: "+index);
// 	    fileInfoArr.splice(index,1);
	 
// 	    var imgId="#img_id_"+index;
// 	    $(imgId).remove();
// 	    console.log(fileInfoArr);
// 	}

// 	//썸네일 미리보기.
// 	function previewImage(targetObj, View_area) {
// 	    var files=targetObj.files;
// 	    fileArr=Array.prototype.slice.call(files);
	    
// 	    var preview = document.getElementById(View_area); //div id
// 	    var ua = window.navigator.userAgent;
	 
// 	    //ie일때(IE8 이하에서만 작동)
// 	    if (ua.indexOf("MSIE") > -1) {
// 	        targetObj.select();
// 	        try {
// 	            var src = document.selection.createRange().text; // get file full path(IE9, IE10에서 사용 불가)
// 	            var ie_preview_error = document.getElementById("ie_preview_error_" + View_area);
	 
	 
// 	            if (ie_preview_error) {
// 	                preview.removeChild(ie_preview_error); //error가 있으면 delete
// 	            }
	 
// 	            var img = document.getElementById(View_area); //이미지가 뿌려질 곳
	 
// 	            //이미지 로딩, sizingMethod는 div에 맞춰서 사이즈를 자동조절 하는 역할
// 	            img.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='"+src+"', sizingMethod='scale')";
// 	        } catch (e) {
// 	            if (!document.getElementById("ie_preview_error_" + View_area)) {
// 	                var info = document.createElement("<p>");
// 	                info.id = "ie_preview_error_" + View_area;
// 	                info.innerHTML = e.name;
// 	                preview.insertBefore(info, null);
// 	            }
// 	        }
// 	        //ie가 아닐때(크롬, 사파리, FF)
// 	    } else {
// 	        var files = targetObj.files;
// 	        for ( var i = 0; i < files.length; i++) {
// 	            var file = files[i];
// 	            fileInfoArr.push(file);
	 
// 	            var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
// 	            if (!file.type.match(imageType))
// 	                continue;
// 	            // var prevImg = document.getElementById("prev_" + View_area); //이전에 미리보기가 있다면 삭제
// 	            // if (prevImg) {
// 	            //     preview.removeChild(prevImg);
// 	            // }
	 
// 	            var span=document.createElement('span');
// 	            span.id="img_id_" +i;
// 	            span.style.width = '100px';
// 	            span.style.height = '100px';
// 	            preview.appendChild(span);
	 
// 	            var img = document.createElement("img");
// 	            img.className="addImg";
// 	            img.classList.add("obj");
// 	            img.file = file;
// 	            img.style.width='inherit';
// 	            img.style.height='inherit';
// 	            img.style.cursor='pointer';
// 	            const idx=i;
// 	            img.onclick=()=>fileRemove(idx);   //이미지를 클릭했을 때.
// 	            span.appendChild(img);
	 
// 	            if (window.FileReader) { // FireFox, Chrome, Opera 확인.
// 	                var reader = new FileReader();
// 	                reader.onloadend = (function(aImg) {
// 	                    return function(e) {
// 	                        aImg.src = e.target.result;
// 	                    };
// 	                })(img);
// 	                reader.readAsDataURL(file);
// 	            } else { // safari is not supported FileReader
// 	                //alert('not supported FileReader');
// 	                if (!document.getElementById("sfr_preview_error_"
// 	                    + View_area)) {
// 	                    var info = document.createElement("p");
// 	                    info.id = "sfr_preview_error_" + View_area;
// 	                    info.innerHTML = "not supported FileReader";
// 	                    preview.insertBefore(info, null);
// 	                }
// 	            }
// 	        }
// 	    }
// 	}
	
// 	//form데이터 전송
// 	function dataSubmit() {
// 	    //var token = $("meta[name='_csrf']").attr("content");
// 	    var header = $("meta[name='_csrf_header']").attr("content");
	 
// 	    var data=new FormData($("#addForm")[0]);
	 
// 	    $.ajax({
// 	        beforeSend: function(xhr){
// 	            xhr.setRequestHeader(header);
// 	        },
// 	        url: "item/sellOnlineItem.do",
// 	        data: data,
// 	        processData:false,
// 	        contentType:false,
// 	        enctype:'multipart/form-data',
// 	        type:"POST",
// 	    }).done(function (fragment) {
// 	        $("#resultDiv").replaceWith(fragment);
// 	    });
// 	}
	</script> 
</head>
<body>
<!-- 	<form id="addForm"> -->
<!--         <div style="display: inline;"> -->
<!--             <label for="img_upload"> -->
<!--                 <img src="/img/photo_add.png" style="width:100px; height:100px; cursor: pointer;"> -->
<!--             </label> -->
<!--             <input type="file" name="img_upload" id="img_upload" -->
<!--                    onchange="previewImage(this,'View_area')" -->
<!--                    style="display: none;" multiple> -->
 
<!--             <span id='View_area' -->
<!--                   style='position:relative; color: black; border: 0px solid black;'> -->
<!--         </span> -->
<!--         </div> -->
 
<!--         <div style="align-content: center; width: 100%; text-align: center;"> -->
<!--             <input type="button" class="btn" style="background: #FF6491; color: #FFF2F6;" onclick="dataSubmit();" -->
<!--                    value="전송하기"> -->
<!--         </div> -->
 
<!--         <div id="resultDiv"> -->
<!--             <p th:text="${log}"></p> -->
<!--         </div> -->
<!--     </form> -->


	<form action="#" th:action="@{/item/sellOnlineItem.do}" th:object="${sellOnlineForm.online}" method="post" class="ui form" enctype="multipart/form-data">
		<span>미리보기 이미지 </span>
		<span>(0/3)</span>
		<br>
<!-- 			<input type="file" name="thumbnail1" th:field="*{thumbnail1}" multiple="multiple"/>  -->
		
			<input type="file" name="thumbnail1" th:value="*{thumbnail1}" multiple="multiple"/> 
<!-- 			<input type="file" th:field="*{thumbnail2}" multiple="multiple"/>  -->
<!-- 			<input type="file" th:field="*{thumbnail3}" multiple="multiple"/> -->
		<p>
<!-- 			<span th:text="#{precautions.image}"></span><br> -->
<!-- 			<span th:text="#{precautions.image.1}"></span><br> -->
<!-- 			<span th:text="#{precautions.image.2}"></span><br> -->
<!-- 			<span th:text="#{precautions.image.3}"></span><br> -->
			<span>상품 이미지는 640x640에 최적화되어있습니다.</span><br>
			<span>~~~</span><br>
			<span>~~~</span><br>
			<span>~~~</span><br>
		</p>
		
		<p>
	    <label for="name">상품명 </label>
	    <input type="text" id="name" th:field="*{name}" />
	    <div id="name_cnt">(0 / 100)</div>
	    <span th:each="err : ${#fields.errors('name')}" th:text="${err}"></span>
	    <p>
	    
	    <p>
		    <label for="price"><span>판매가격</span></label>
		    <input type="text" id="price" th:field="*{price}" /> 
		    <span>원 </span>
		    <span th:each="err : ${#fields.errors('price')}" th:text="${err}"></span>
	    
	    <p>
	    	<span>설명</span>
	    	<textarea id="description" name="description" cols="30" rows="10" 
	    			th:field="*{description}"
	    			th:value="*{description}" 
	    			placeholder="상품 설명을 입력하세요." ></textarea>
			<div id="textarea_cnt">(0 / 500)</div>
	    
	    <p>
		    <span>테마</span>
		    <select class="ui search dropdown" id="select1" th:field="*{themeId}"> 
<!-- 				<option value="" th:text="#{select.theme.message}">message</option> -->
				<option value="">테마를 선택하세요.</option>
				<option th:each="theme : ${themeList}"
						th:value="${theme.themeId}" 
						th:text="'#' + ${theme.name}"
						value="#">theme name</option>
			</select>
	    </p>
	   
	    <p>
		    <span>카테고리</span>
		    <select class="ui search dropdown" id="select2" th:field="*{categoryId}"> 
				<option value="" th:text="#{select.theme.message}">message</option>
				<option value="">카테고리를 선택하세요.</option>
				<option th:each="category : ${categoryList}" 
						th:value="${category.categoryId}" 
						th:text="${category.name}"
						value="#">category name</option>
			</select>
	    </p>
	    

	    	<span>기기 종류</span><br>
	    	pc <input type="file" name="pcFile" th:value="*{pcFile}"/> phone <input type="file" name="phoneFile" th:value="*{phoneFile}"/> tablet <input type="file" name="tabletFile" th:value="*{tabletFile}"/> <!-- 추후구현 -->
	    </p>
	    
	    <p>
	    	<div class="inline fields">
	    		
			    <span>판매 여부</span> <!-- 반복문으로 할 수 있지 않을까? -->
			    <div class="field">
			      <div class="ui radio checkbox">
			        <input type="radio" th:if="${sellOnlineForm.newOnline}" th:name="*{isForSale}" th:value="1" disabled="disabled" checked="checked"/>
	    			<input type="radio" th:unless="${sellOnlineForm.newOnline}" th:name="*{isForSale}" th:value="1" checked="checked"/>
	    			<label for="${#ids.prev('isForSale')}">판매 중</label>
			      </div>
			    </div>
			    <div class="field">
			      <div class="ui radio checkbox">
			      	<input type="radio" th:if="${sellOnlineForm.newOnline}" th:name="*{isForSale}" th:value="0" disabled="disabled" />
	    			<input type="radio" th:unless="${sellOnlineForm.newOnline}" th:name="*{isForSale}" th:value="0" />
	    			<label for="${#ids.prev('isForSale')}">판매 중단</label>
			      </div>
			    </div>
			  </div>
	    
	   
	    <br>
	    <input class="ui blue button" type="submit" value="등록하기">
    </form>
	
<!-- 	<div th:include="footer::linkToMain"></div> -->
	
	
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js" integrity="sha512-dqw6X88iGgZlTsONxZK9ePmJEFrmHwpuMrsUChjAw1mRUhUITE5QU9pkcSox+ynfLhL15Sv2al5A0LVyDCmtUw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/dropdown.min.js" integrity="sha512-8F/2JIwyPohlMVdqCmXt6A6YQ9X7MK1jHlwBJv2YeZndPs021083S2Z/mu7WZ5g0iTlGDYqelA9gQXGh1F0tUw==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/search.min.js" integrity="sha512-cYY5gAyJxIK4sLwDYueWWJH9rEdgBNvRaEIGJ6+dQ5vzfoTqHAtUDYrG2rdZTGqACvPS9QRrnzqqRGfrgxO7ug==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/form.min.js" integrity="sha512-VM6WNFlVLFwKXphssthAXJpG3cKWUK3G4edfsydLITA4iSeZmvJ+2gKBrR6qYkt/3A/I8hDHnAuIBz7xtfVtOg==" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/checkbox.min.js" integrity="sha512-xHPfIQ31nhgadqKFR79QIE1P+8QkEJRKYhbO+tNThUtBU1sOC55A29sLgjFxyekM7DUVJqapmIOx0J+G2VH8RQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script>
	$('#select1')
	  .dropdown({ fullTextSearch: true })
	;
	
	$('#select2')
	  .dropdown()
	;
	
	$(document).ready(function() {
        $('#name').on('keyup', function() {
            $('#name_cnt').html("("+$(this).val().length+" / 100)");
 
            if($(this).val().length > 100) {
                $(this).val($(this).val().substring(0, 100));
                $('#name_cnt').html("(100 / 100)");
            }
        });
    });
	
	$(document).ready(function() {
        $('#description').on('keyup', function() {
            $('#textarea_cnt').html("("+$(this).val().length+" / 500)");
 
            if($(this).val().length > 500) {
                $(this).val($(this).val().substring(0, 500));
                $('#textarea_cnt').html("(500 / 500)");
            }
        });
    });
	
	$('.ui.checkbox')
	  .checkbox()
	;
	</script>
</body>
</html>