<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title}, ~{::link}, ~{::style}, ~{::script})">
<title th:text="${categoryName}">categoryName</title>
<style>
.container {
	display: grid;
	grid-gap: 20px;
	grid-auto-rows: minmax(300px, auto);
	grid-template-columns: repeat(4, 1fr);
}

</style>
<link>
<script></script>
</head>
<body>
<div class="wrap">
	<div th:replace="thyme/Header :: header"></div>

	<div class="row row-margin">
		<div th:replace="thyme/Sidebar :: sidebar"></div>
		<div class="col-7 base">
			<!-- 여기서부터 content -->
			<h2  class="text-uppercase d-flex flex-wrap justify-content-center py-3 mb-4"> Funding </h2>
			
				<div class="row">
					<div class="col-md-12">
						<nav class="d-flex flex-wrap" aria-label="breadcrumb">
							<ol class="breadcrumb">
								<li class="breadcrumb-item"><a class= "text-secondary link-unstyled" th:href="@{/}">Home</a></li>
								<li class="breadcrumb-item active " aria-current="page" >
									<a th:href="@{/item/viewFundings.do(themeId = '-1', sortBy = '1', page='1')}">Funding</a></li>
							</ol>
						</nav>
					</div>
				<!-- 조건 검색 -->
				<div class="col-md-12" style="text-align:left">
					<table width=100%>
						<tr>
							<td style="width:100px">
								<a class="text-secondary link-unstyled" href="#" th:href="@{/item/viewFundings.do(themeId = -1, sortBy=${sortBy}, page=1)}">
				     				<span th:if="${themeId eq -1}" style="font-weight:bold">#전체테마</span>
				     				<span th:unless="${themeId eq -1}">#전체테마</span></a></td>
							<td style="width:100px" th:each="theme : ${allThemes}">
								<a class= "text-secondary link-unstyled" href="#" th:href="@{/item/viewFundings.do(themeId = ${theme.themeId}, sortBy=${sortBy}, page=1)}">
			     				<span th:if="${theme.themeId eq themeId}" th:text="'#' + ${theme.name}" style="font-weight:bold">#테마</span>
			     				<span th:unless="${theme.themeId eq themeId}" th:text="'#' + ${theme.name}">#테마</span></a>
							</td>
						</tr>
					</table>
			    </div>
				<br><br>
				<hr>
			    <div class="col-md-7">
			    </div>
				<!-- 검색 창 -->
				<div class="col-md-5">
					<form action="#" th:action="@{/item/viewFundings.do}">
						<div class="input-group">
							<input type="hidden" th:value="${themeId}" th:attr="name='themeId'">
							<input type="hidden" th:value="${sortBy}" th:attr="name='sortBy'">
							<input type="hidden" th:value="1" th:attr="name='page'">
							<input type="text" id="keyword" class="form-control"
								aria-label="Text input with segmented dropdown button" th:attr="name='keyword'">
							<button type="submit" class="btn btn-outline-secondary" >Search</button>
						</div>
					</form>
				</div>
				<br><br>
				<div th:if="${keyword ne ''}" class="col-md-12">
					'<span th:text="${keyword}">keyword</span>'의 검색 결과
				</div>
				<!-- 정렬 -->
				<div style="text-align:right" class="col-md-12">
					<button type="button"
						class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
						data-bs-toggle="dropdown" aria-expanded="false">
						<span th:if="${sortBy eq 1}">신상품순</span>
						<span th:if="${sortBy eq 2}">좋아요순</span>
						<span th:if="${sortBy eq 6}">마감임박순</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewFundings.do(themeId = ${themeId}, keyword=${keyword}, sortBy = '1', page='1')}">신상품순</a></li>
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewFundings.do(themeId = ${themeId}, keyword=${keyword}, sortBy = '2', page='1')}">좋아요순</a></li>
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewFundings.do(themeId = ${themeId}, keyword=${keyword}, sortBy = '6', page='1')}">마감임박순</a></li>
					</ul>
				</div>
				
				
				
			    
			    
				<!-- 상품 목록-->
				<div class="mt-4 album bg-light">
					<div class="container">
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
							<div th:each="item : ${fundingList}" class="col">
								<div class="card shadow-sm">
									<div class="card-body  d-block mx-auto">
										<div>
										<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewFundingItem.do(itemId=${item.itemId})}">
											<img class = "img-fluid img-thumbnail" th:src="@{${item.thumbnail1Path}}" style="width: 150px; height: 150px;"/>
										</a>
											<a class="link-unstyled text-dark" href="#" th:href="@{/item/viewFundingItem.do(itemId=${item.itemId})}">
		                                        <p class= "mt-1 mb-0" th:text="${item.name}" >
		                                            name
		                                        </p>
	                                        </a>
	                                    </div>
	                                    <div>
	                                    	<small class="text-muted">#</small><small class="text-muted" th:text="${item.themeName}">
	                                    		themeName
	                                    	</small>
                                        </div>
                                        <div>
                                      		<span th:text="${item.price}" >price</span>원
                                        </div>	
									</div>
									
									<div class="progress mx-2">
									  <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="${item.quantityPercentage}" 
									  	aria-valuemin="0" aria-valuemax="100" th:style="'width:' + ${item.quantityPercentage} + '%;'"></div>
										</div>
									<div class="d-flex justify-content-between align-items-center">
										<span class= "mx-2" style="text-align:left" >
											<small class="text-info" th:text="${item.quantityPercentage}"> 목표 퍼센티지 </small><small class="text-info">% </small>
										</span>
										<span class= "mx-2" style="text-align:right" th:if="${item.remainingDays} != 0">
											<small style="text-align:left" class="text-muted text-sm" th:text="${item.remainingDays}"> remainingDays</small>
											<small class="text-muted text-sm">일 남음</small>
										</span>
										<span class= "mx-2" style="text-align:right" th:if="${item.remainingDays} == 0">
											<small class="text-muted text-sm">오늘 마감</small>
										</span>
									</div>
									<div class="mx-2 text-danger" style="text-align:right">
										<small th:text="${item.likeNum}">12</small>
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
										  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
										</svg>
									</div>
                                </div>
							</div>
						</div>
					</div>
				</div>


				<!-- 페이징네이션-->
								<!-- 페이징네이션-->
				<div class=" text-center mt-4 position-relative">
					<nav aria-label="Page navigation example pagination">
						<a class="btn btn-default btn-outline-secondary" href="#" th:href="@{/item/viewFundings.do(themeId=${themeId}, keyword=${keyword}, sortBy=${sortBy}, page=${pagination.beforeSectionLastPage})}" th:if="${pagination.curSection != 1}">&laquo;</a>
						<a class="btn btn-default btn-outline-secondary disabled" href="#" th:if="${pagination.curSection == 1}">&laquo;</a>
						<div class="btn-group" th:each="i : ${#numbers.sequence(pagination.sectionStartPage, pagination.sectionEndPage)}">
							<a class="btn btn-default btn-outline-secondary" href="#" th:href="@{/item/viewFundings.do(themeId=${themeId}, keyword=${keyword}, sortBy=${sortBy}, page=${i})}" th:text="${i}">pageNum</a>
						</div>
						<a class="btn btn-default btn-outline-secondary" href="#" th:href="@{/item/viewFundings.do(themeId=${themeId}, keyword=${keyword}, sortBy=${sortBy}, page=${pagination.nextSectionFirstPage})}" th:if="${pagination.curSection != pagination.lastSection}">&raquo;</a>
						<a class="btn btn-default btn-outline-secondary disabled" href="#" th:if="${pagination.curSection == pagination.lastSection}">&raquo;</a>
					</nav>
					
					<!-- 테스트 -->
					<!-- 
					<span th:text="'현재페이지:' + ${pagination.curPage}"></span>
					<span th:text="'한페이지아이템수:' + ${pagination.itemPerPage}"></span>
					<span th:text="'총아이템수:' + ${pagination.totalItemCount}"></span>
					<span th:text="'페이지단위:' + ${pagination.pageUnit}"></span>
					<span th:text="'총페이지수:' + ${pagination.pageCount}"></span>
					<span th:text="'현재섹션:' + ${pagination.curSection}"></span>
					<span th:text="'섹션시작페이지:' + ${pagination.sectionStartPage}"></span>
					<span th:text="'섹션끝페이지:' + ${pagination.sectionEndPage}"></span>
					<span th:text="'다음섹션시작페이지:' + ${pagination.nextSectionFirstPage}"></span>
					<span th:text="'이전섹션끝페이지:' + ${pagination.beforeSectionLastPage}"></span>
					<span th:text="'마지막섹션번호:' + ${pagination.lastSection}"></span> -->
				</div>
<!-- 				<div class=" text-center mt-4 position-relative">
					<nav aria-label="Page navigation example">
						<ul class="justify-content-center pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div> -->
			</div>
		</div>
	</div>
	</div>
	<div th:replace="thyme/Bottom :: footer"></div>
	</body>
</html>