<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="thyme/Header :: head(~{::title})">
<title th:text="${category.name}">categoryName</title>
<style>
.container {
	display: grid;
	grid-gap: 20px;
	grid-auto-rows: minmax(300px, auto);
	grid-template-columns: repeat(4, 1fr);
}

</style>
</head>
<body>
<div class="wrap">
	<div th:replace="thyme/Header :: header"></div>

	<div class="row row-margin">
		<div th:replace="thyme/Sidebar :: sidebar"></div>
		<div class="col-7 base">
			<!-- 여기서부터 content -->
			<h2 th:text="${category.name}" class="text-uppercase d-flex flex-wrap justify-content-center py-3 mb-4"> category</h2>
			
			<div class="row">
				<div class="col-md-12">
					<nav class="d-flex flex-wrap" aria-label="breadcrumb">
						<ol class="breadcrumb">
							<li class="breadcrumb-item"><a class= "text-secondary link-unstyled" th:href="@{/}">Home</a></li>
							<li class="breadcrumb-item active " aria-current="page">
								<a th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = '-1', device = '-1', sortBy='1')}"><span th:text="${category.name}">category</span></a>
							</li>
						</ol>
					</nav>
				</div>
				<!-- 조건 검색 -->
				<div class="col-md-12" style="text-align:left">
					<table width=100%>
						<tr>
							<td style="width:100px">
							<a class= "text-secondary link-unstyled" href="#" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = -1, device = ${device}, sortBy=${sortBy})}">
			     				<span th:if="${themeId eq -1}" style="font-weight:bold">#전체테마</span>
			     				<span th:unless="${themeId eq -1}">#전체테마</span></a></td>
							<td style="width:100px" th:each="theme : ${allThemes}">
								<a class= "text-secondary link-unstyled" href="#" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${theme.themeId}, device = ${device}, sortBy=${sortBy})}">
			     				<span th:if="${theme.themeId eq themeId}" th:text="'#' + ${theme.name}" style="font-weight:bold">#테마</span>
			     				<span th:unless="${theme.themeId eq themeId}" th:text="'#' + ${theme.name}">#테마</span></a>
							</td>
						</tr>
					</table>
			    </div>
				<br><br>
				<hr>
			    <div class="col-md-7">
					<a class= "text-secondary link-unstyled" href="#" th:if="${device eq -1}" style="font-weight:bold" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '-1', sortBy=${sortBy})}">전체&nbsp;</a>
					<a class= "text-secondary link-unstyled" href="#" th:unless="${device eq -1}" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '-1', sortBy=${sortBy})}">전체&nbsp;</a>
					<a class= "text-secondary link-unstyled" href="#" th:if="${device eq 1}" style="font-weight:bold" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '1', sortBy=${sortBy})}">PC&nbsp;</a>
					<a class= "text-secondary link-unstyled" href="#" th:unless="${device eq 1}" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '1', sortBy=${sortBy})}">PC&nbsp;</a>
					<a class= "text-secondary link-unstyled" href="#" th:if="${device eq 2}" style="font-weight:bold" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '2', sortBy=${sortBy})}">TABLET&nbsp;</a>
					<a class= "text-secondary link-unstyled" href="#" th:unless="${device eq 2}" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '2', sortBy=${sortBy})}">TABLET&nbsp;</a>
					<a class= "text-secondary link-unstyled" href="#" th:if="${device eq 3}" style="font-weight:bold" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '3', sortBy=${sortBy})}">PHONE</a>
					<a class= "text-secondary link-unstyled" href="#" th:unless="${device eq 3}" th:href="@{/item/viewCategory.do(categoryId = ${category.categoryId}, themeId = ${themeId}, device = '3', sortBy=${sortBy})}">PHONE</a>
				</div>
				<!-- 검색 창 -->
				<div class="col-md-5">
					<form action="#" th:action="@{/item/viewCategory.do}">
						<div class="input-group">
							<input type="hidden" th:value="${category.categoryId}" th:attr="name='categoryId'">
							<input type="hidden" th:value="${themeId}" th:attr="name='themeId'">
							<input type="hidden" th:value="${device}" th:attr="name='device'">
							<input type="hidden" th:value="${sortBy}" th:attr="name='sortBy'">
							<input type="text" id="keyword" class="form-control"
								aria-label="Text input with segmented dropdown button" th:attr="name='keyword'">
							<button type="submit" class="btn btn-outline-secondary" >Search</button>
						</div>
					</form>
				</div>
				<br><br>
				<div th:if="${keyword ne ''}" class="col-md-12">
					'<span th:text="${keyword}">keyword</span>'의 검색 결과
				</div>
				<!-- 정렬 -->
				<div style="text-align:right" class="col-md-12">
					<button type="button"
						class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
						data-bs-toggle="dropdown" aria-expanded="false">
						<span th:if="${sortBy eq 1}">신상품순</span>
						<span th:if="${sortBy eq 2}">좋아요순</span>
						<span th:if="${sortBy eq 3}">평점순</span>
						<span th:if="${sortBy eq 4}">낮은가격순</span>
						<span th:if="${sortBy eq 5}">높은가격순</span>
					</button>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewCategory.do(categoryId=${category.categoryId}, themeId=${themeId}, device=${device}, keyword=${keyword}, sortBy=1)}">신상품순</a></li>
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewCategory.do(categoryId=${category.categoryId}, themeId=${themeId}, device=${device}, keyword=${keyword}, sortBy=2)}">좋아요순</a></li>
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewCategory.do(categoryId=${category.categoryId}, themeId=${themeId}, device=${device}, keyword=${keyword}, sortBy=3)}">평점순</a></li>
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewCategory.do(categoryId=${category.categoryId}, themeId=${themeId}, device=${device}, keyword=${keyword}, sortBy=4)}">낮은가격순</a></li>
						<li><a class="dropdown-item" href="#" th:href="@{/item/viewCategory.do(categoryId=${category.categoryId}, themeId=${themeId}, device=${device}, keyword=${keyword}, sortBy=5)}">높은가격순</a></li>
					</ul>
				</div>
				
				<!-- 상품 목록-->
				<div class="mt-4 album bg-light">
					<div class="container">
						<div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
							<div id="onlineListDiv" th:each="item : ${onlineList}" class="col">
								<div class="card shadow-sm">
									<a href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
										<img th:src="@{${item.thumbnail1}}"/>
									</a>
									<div class="card-body ">
										<a href="#" th:href="@{/item/viewOnlineItem.do(itemId=${item.itemId})}">
	                                        <span class="itemName" th:text="${item.name}" >
	                                            name
	                                        </span>
                                        </a>
                                        <small class="text-muted" th:text="${item.categoryName}">
                                            categoryName
                                        </small>
                                        <div class = "mt-1 mb-3">
	                                        <small class="text-muted" th:text="${item.description}">
	                                        	description
	                                        </small>
                                        </div>

                                       <span th:text="${item.price}" >price</span>원
									</div>
									<div class= "mx-1" style="text-align:right" >
										<small class ="text-primary" th:if="${item.pcFile}"> PC </small>
										<small class ="text-warning" th:if="${item.tabletFile}"> TABLET </small>
										<small class ="text-info" th:if="${item.phoneFile}"> PHONE </small>
									</div>
									<div class="mx-2 text-danger" style="text-align:right">
										<small th:text="${item.likeNum}">12</small>
										<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
										  <path d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z"/>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- 상품 등록-->
				<div class="mt-4 d-grid gap-2 d-md-flex justify-content-md-end">
					<a href="productR.html"><button class="btn btn-secondary"
							type="button">상품 등록</button></a>
				</div>

				<!-- 페이징네이션-->
				<div class=" text-center mt-4 position-relative">
					<nav aria-label="Page navigation example">
						<ul class="justify-content-center pagination">
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
							</a></li>
							<li class="page-item"><a class="page-link" href="#">1</a></li>
							<li class="page-item"><a class="page-link" href="#">2</a></li>
							<li class="page-item"><a class="page-link" href="#">3</a></li>
							<li class="page-item"><a class="page-link" href="#"
								aria-label="Next"> <span aria-hidden="true">&raquo;</span>
							</a></li>
						</ul>
					</nav>
				</div>
			</div>	
		</div>
	</div>
	</div>
	<div th:replace="thyme/Bottom :: footer"></div>
	</body>
</html>